$default-color: rgba(0, 0, 0, 0.9);
$default-background: rgba(255, 255, 255, 1);
$header-background: rgba(115, 200, 157, 1);

$light-color: rgba(255, 255, 255, 1);
$gray-color: rgba(102, 102, 102, 1);
$gray-color-2: rgba(102, 102, 102, 0.3);
$shadow-color: rgba(0, 0, 0, 0.1);

:root {
  --font-size-12: 0.75rem;
  --font-size-16: 1rem;
  --font-size-24: 1.5rem;
}

* {
  margin: 0;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body,
button,
input {
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-16);
  line-height: 1.5;
  color: $default-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

*::-webkit-scrollbar-thumb {
  background: $gray-color-2;
  border-radius: 0.3125rem;
  border: 0.1875rem solid $light-color;
}

*::-webkit-scrollbar-thumb:hover {
  background: $gray-color-2;
}

*::-webkit-scrollbar-track {
  background: $light-color;
}

#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  overflow: auto;
  border-right: 0.0625rem solid $shadow-color;
}

.header {
  background: $header-background;
  padding: 0.9375rem 0;
  width: 100%;
  height: 4.1875rem;
  z-index: 1;
  position: fixed;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.9375rem;
    max-width: 82.5rem;
    margin: auto;

    .logo-content {
      display: flex;
      align-items: center;

      img {
        height: 1.125rem;
        margin-right: 0.9375rem;
      }

      span {
        font-size: var(--font-size-24);
        font-weight: bold;
        color: $light-color;
      }
    }

    .right-tooltip {
      display: flex;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
          margin-left: 0.9375rem;
          padding: 0.3125rem 0.9375rem;
          border: 0.0625rem solid $light-color;
          border-radius: 0.3125rem;
          background: transparent;
          cursor: pointer;
          list-style: none;

          a {
            color: $light-color;
            text-decoration: none;
          }

          &:hover {
            filter: drop-shadow(0px 0px 0.25rem $light-color);
          }
        }
      }

      .menu-toggle {
        padding: 0.3125rem 0.625rem;
        border: 0.0625rem solid $light-color;
        border-radius: 50%;
        cursor: pointer;

        &.menu-open {
          padding: 0.3125rem 0.65rem;
        }

        span {
          color: $gray-color;
          font-weight: 600;
        }

        &:hover {
          filter: drop-shadow(0px 0px 0.25rem $light-color);
        }
      }
    }

    .menu-mobile {
      position: absolute;
      top: 4.1875rem;
      left: 0;
      width: 100%;
      background: $default-background;

      ul {
        padding: 0;
        text-align: center;

        li {
          padding: 0.625rem 0.9375rem;
          background: transparent;
          cursor: pointer;
          list-style: none;

          a {
            color: $default-color;
            text-decoration: none;
            font-weight: 600;
          }

          &:hover {
            background: $shadow-color;
          }
        }
      }
    }
  }
}

.main {
  height: 100%;
  width: 100%;
  padding: 0.9375rem 0;

  .cards-section {
    padding: 4.6875rem 0.9375rem 0.9375rem 0.9375rem;
    max-width: 82.5rem;
    margin: auto;

    .title {
      margin-bottom: 0.9375rem;
    }

    .grid-container {
      display: grid;
      gap: 0.9375rem;

      .card {
        text-align: left;
        box-sizing: border-box;
        border-radius: 0.125rem;
        cursor: pointer;
        box-shadow: 0.0625rem 0.0625rem 0.3125rem 0.125rem $shadow-color;

        .wrapper {
          width: 100%;
          aspect-ratio: 3/2;
          object-fit: cover;
        }

        .content {
          padding: 0.1875rem 0.625rem 0.625rem 0.625rem;
          font-size: var(--font-size-12);
          font-weight: 700;
          color: $default-color;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

/*Smart phone nhỏ*/
@media screen and (min-width: 240px) {
  .main {
    .cards-section {
      .grid-container {
        grid-template-columns: repeat(1, minmax(calc(var(--font-size-16) * 4), 1fr));
      }
    }
  }
}
/*Iphone(480 x 640)*/
@media screen and (min-width: 320px) {
  .main {
    .cards-section {
      .grid-container {
        grid-template-columns: repeat(2, minmax(calc(var(--font-size-16) * 4), 1fr));
      }
    }
  }
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (min-width: 480px) {
  .main {
    .cards-section {
      .grid-container {
        grid-template-columns: repeat(3, minmax(calc(var(--font-size-16) * 4), 1fr));
      }
    }
  }
}
/*Ipad dọc(768 x 1024)*/
@media screen and (min-width: 768px) {
  .main {
    .cards-section {
      .grid-container {
        grid-template-columns: repeat(4, minmax(calc(var(--font-size-16) * 4), 1fr));
      }
    }
  }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (min-width: 1024px) {
  .main {
    .cards-section {
      .grid-container {
        grid-template-columns: repeat(6, minmax(calc(var(--font-size-16) * 4), 1fr));
      }
    }
  }
}
